*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.text-title {
  color: #080415;
  font-family: DM Sans;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 6.6rem;
  letter-spacing: -0.224rem;
}

.text-small {
  color: #080415;
  font-family: DM Sans;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4rem;
  letter-spacing: -0.128rem;
}

.text-desc {
  color: #51586a;
  font-family: DM Sans;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
}

.pull-top {
  margin-top: 14rem;
}

.pt-6 {
  padding-top: 8.6rem;
}

.header {
  margin: 2rem 0 4.4rem 0;
}
.header-title {
  margin-left: 1rem;
  color: #080415;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3rem; /* 136.364% */
  text-decoration-line: underline;
}
.header-item {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 2.2rem;
  transition: color 0.3s ease;
}
.header-item:hover {
  color: #151516;
}

.hero-heading {
  margin-bottom: 2rem;
  color: #080415;
  font-size: 8rem;
  font-weight: 500;
  line-height: 7.6rem; /* 95% */
  letter-spacing: -0.32rem;
}
.hero-desc {
  width: 37rem;
  margin-bottom: 5rem;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.hero-ctn {
  margin-bottom: 10.4rem;
  display: flex;
}
.hero-ctn__btn {
  padding: 1.6rem 3.7rem;
  color: #080415;
  font-size: 1.8rem;
  font-size: 1.8rem;
  line-height: 3rem;
  text-decoration-line: underline;
}
.hero-ctn__btn:hover {
  background: #5d3bee;
  color: #fdfdfd;
  text-decoration-line: none;
}
.hero-link {
  column-gap: 1.5rem;
}
.hero-link__icon {
  cursor: pointer;
}
.hero-deco {
  scale: 0.75;
  z-index: -1;
  left: -30%;
  bottom: -20%;
}
.hero-deco2 {
  z-index: -1;
  right: -32%;
  scale: 0.4;
  bottom: -29.5%;
}

.trusted {
  margin-top: 10rem;
}
.trusted-title {
  margin-left: 10rem;
  position: relative;
  width: 25.3rem;
  color: #080415;
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 5rem; /* 119.048% */
  letter-spacing: -0.168rem;
}
.trusted-title::before {
  content: "";
  position: absolute;
  display: block;
  left: -36%;
  bottom: 75%;
  width: 8.6rem;
  height: 0.2rem;
  background-color: #5d3bee;
}
.trusted-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2rem;
}
.trusted-item {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
}
.trusted-item span {
  font-weight: 500;
  color: #080415;
}

.service {
  margin-top: 13.5rem;
}
.service-desc {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
  width: 53.5rem;
}
.service-item {
  padding: 3.3rem 1.2rem;
}
.service-item__title {
  margin-top: 2.2rem;
}
.service-item__desc {
  margin-top: 1.5rem;
  width: 28.5rem;
}

.work {
  background: #5d3bee;
}
.work-btn {
  margin: auto;
  display: inline-block;
  margin-top: 8rem;
  margin-bottom: 8.6em;
  padding: 1.6rem 3.7rem;
  background: #fff;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
}
.work-btn:hover {
  opacity: 0.7;
}
.work-title {
  width: 46.8rem;
  letter-spacing: -0.224rem;
}
.work-desc {
  color: #fff;
  margin-left: 16rem;
  width: 37rem;
  opacity: 0.7;
}
.work-list {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 3rem;
}
.work-img {
  z-index: 2;
}
.work-item {
  background: #fbfaff;
  width: 65rem;
  height: 23.4rem;
}
.work-deco {
  z-index: 1;
  right: 0;
}
.work-content__title {
  margin-bottom: 1px;
  font-size: 3.2rem;
  color: #080415;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
}
.work-content__desc {
  margin-bottom: 2rem;
  color: #51586a;
  width: 22rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.3rem; /* 143.75% */
}
.work-content__btn {
  cursor: pointer;
  color: #080415;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
  text-decoration-line: underline;
}
.work-content__btn:hover {
  opacity: 0.7;
}

.about-heading__title {
  margin: 0 1rem 1rem 0;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
}
.about-heading__content {
  margin-bottom: 1.5rem;
}
.about-heading__desc {
  width: 57rem;
  margin: auto;
  margin-bottom: 7rem;
}
.about-me {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 95rem;
}
.about-me::before {
  top: -2rem;
  position: absolute;
  display: block;
  content: "";
  width: 95rem;
  height: 0.1rem;
  background-color: #080415;
  opacity: 0.2;
}
.about-me::after {
  bottom: -2rem;
  position: absolute;
  display: block;
  content: "";
  width: 95rem;
  height: 0.1rem;
  background-color: #080415;
  opacity: 0.2;
}
.about-me__number {
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 7.6rem; /* 135.714% */
  letter-spacing: 0.168rem;
  text-decoration-line: underline;
}
.about-me__desc {
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}
.about-video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 9rem;
  cursor: pointer;
}
.about-video:hover {
  opacity: 0.8;
}

.tes {
  background: #fbfaff;
}
.tes-title {
  margin-bottom: 2rem;
}
.tes-desc {
  width: 57rem;
  margin: auto;
  margin-bottom: 6rem;
}
.tes-p {
  width: 68rem;
  margin: auto;
  margin-bottom: 3.6rem;
  color: #51586a;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 4rem; /* 166.667% */
}
.tes-name {
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}
.tes-name__images {
  display: flex;
  align-items: flex-end;
  width: 4rem;
  height: 4rem;
  background-color: #f29764;
  border-radius: 50%;
  overflow: hidden;
}
.tes-name__content {
  color: #080415;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4rem; /* 133.333% */
}
.tes-name-content {
  color: #51586a;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem; /* 181.25% */
}
.tes-list {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
}
.tes-list__dot {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  background: #080415;
  opacity: 0.2;
  border-radius: 50%;
}

.active {
  background-color: #5d3bee;
  opacity: 1;
  scale: 0.7;
}
.active::before {
  content: "";
  display: block;
  scale: 1.6;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #5d3bee;
}

.faq-title {
  margin-bottom: 8rem;
  width: 57.5rem;
  color: #080415;
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 6.6rem; /* 117.857% */
  letter-spacing: -0.224rem;
}
.faq-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 8rem;
}
.faq-container::after {
  content: "";
  bottom: -2rem;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 0.3rem;
  background-color: #5d3bee;
}
.faq-content__title {
  margin-bottom: 2.3rem;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
}
.faq-content__desc {
  width: 48.7rem;
  color: #51586a;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

.no-active::after {
  background-color: #080415;
}

.gallery-desc {
  width: 52.8rem;
  margin: auto;
  margin-top: 2rem;
}
.gallery-name {
  margin-top: 3rem;
  color: #5d3bee;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4rem; /* 125% */
  letter-spacing: -0.128rem;
  text-decoration-line: underline;
}
.gallery-list {
  margin-top: 7rem;
  column-gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  margin-top: 20rem;
}
.cta-bg {
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.cta-icon {
  padding-top: 6.8rem;
  margin-bottom: 2rem;
}
.cta-desc {
  width: 57rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.cta-btn {
  display: inline-block;
  color: #fdfdfd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3rem; /* 166.667% */
  padding: 1.6rem 3.4rem;
  color: #fff;
  background-color: #5d3bee;
}

.footer {
  margin-top: 20rem;
}
.footer__inner::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #0c0720;
  height: 0.2rem;
  opacity: 0.2;
}
.footer-bottom {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.footer-bottom__left {
  color: #525771;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
  opacity: 0.6;
}
.footer-bottom__right {
  display: flex;
}
.footer-bottom__link {
  color: #525771;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
  letter-spacing: -0.054rem;
  opacity: 0.6;
}
.footer-bottom__link:last-child {
  margin-left: 3.6rem;
}
.footer-bottom__link:last-child::before {
  content: "";
  margin-right: 1.3rem;
  display: inline-block;
  width: 0.2rem;
  height: 1.3rem;
  background-color: #525771;
  opacity: 0.2;
}

/*# sourceMappingURL=style.css.map */
